.sidebar{
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    transition: all 1.2s;

    border: 1px solid #dbd9d9;
    
}
.shortcut-links img{
    width: 20px;
    margin-right:20px;
}
.side-links
{
    display: flex;
    width: fit-content;
    margin-bottom: 20px;
    cursor: pointer;
    align-items: center;
    /* This flex wrap wrap for responsive */
    flex-wrap: wrap;
}
.side-links.active{
    padding-bottom: 2px;
    border-bottom: 3px solid red;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background:#ccc;
    width: 85%;
}

.subscribed-list h3{
    font-size: 14px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Small Side bar */
.small-sidebar{
    width: 5%;   
    padding-left: 1%;
}
.small-sidebar .shortcut-links img{
    width: 25px;
    margin-right:0px;

}
.small-sidebar p{
    display:none;
    transition: all 1.2s ease-in-out;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
.small-sidebar .subscribed-list img{
    width: 29px;
}
@media (max-width: 900px)
{
    .sidebar
    {
        display: none;
    }
    
    
}